body {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: rgb(0, 53, 0);
    color: rgb(203, 203, 203);
    padding: 1rem 2rem;
}

/* .profile-dropdown {
    width: 200%
    font-size: 5px;
} */

